<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/bstyle.css">
        <title>XML - GAZETTE</title>
    </head>
    <body>
        <div class="container-fluid">
			<!-- <fieldset class="bg-white"> -->
				<div class="row top-bar" id="navbar_top">
					<div class="col-md-12">
						<span class="form-legend text-primary">Formulaire Gazette</span>
						<div class="float-end">
							<div class="float-end text-end">
								<select id="pdfdone" class="border">
									<option value="" class="text-muted">Click here...</option>
									<% dones.forEach(function(done) { %>
										<option value='<%= done.name %>'><%= done.name %> treated by <%= done.treated_by %> </option>
									<% }); %>
								</select>
							</div>
							<div class="float-end text-end mx-3">
								<label for="pdfdone"><strong class="text-primary">Finished documents:</strong></label>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 px-1">
						<fieldset style="border-color:rgb(185, 56, 56); " class="pb-0">
							<legend><label class="text-danger">Warnings</label></legend>
							<!-- Afficher les avertissements ici -->
							<ul id="warnings-ul" class="row py-0">
								<!-- list of warnings -->
							</ul>
							<input type="hidden" id="already" value="">
						</fieldset>
					</div>
				</div>
				<!-- Main row -->
				<div class="row content">
					<!-- INPUT FIELD // GAUCHE -->
					<div class="col-xl-6" id="left-page">
						<!-- Identifier -->
					</div>
					<!-- PDF FIELD // DROITE -->
					<div class="col-xl-6">
						<div class="form-group my-2">
							<input type="file" accept="application/pdf" class="form-control" id="pdf" aria-describedby="helpId" placeholder="" onchange="uploadPDF()">
						</div>
						<object id="show" data="/pdf_paceholder.png" style="width:100% !important;height: auto !important;zoom: 0% !important;" >
							Your browser does not support PDFs
						</object>
					</div>
				</div>
			<!-- </fieldset> -->
		</div>
	<!-- </form> -->
		 
	<script src="/jquery-latest.js"></script>
	<script src="/table.js" type="text/javascript"></script>
	<script src="/main.js" type="text/javascript"></script>
	<script src="/index.js" type="text/javascript"></script>
	<script src="/jszip.min.js" type="text/javascript"></script>
	<script src="/sweetalert.min.js" type="text/javascript"></script>
	<script src="/nextchap.js" type="text/javascript"></script>
	<script src="/nextpage.js" type="text/javascript"></script>
    <script>
        openFile('/page1.html');
		callScripts();
		// avertir l'utilisateur lors de l'actualisation de la page
		window.onbeforeunload = function(e) {
			return "Do you want to exit this page?";
		};
		
		localStorage.clear();
		var indice = 0;
		var fileversion = "<%= version %>".split(",");

		var filesDone = "<%= bdfls %>".split(",");
		document.getElementById("pdf").addEventListener("change", () =>{
			
			
			var breaks = false;
			filesDone.forEach(function (d){
				if(d == document.getElementById("pdf").files[0].name){
					let warn = document.getElementById("warnings-ul");
					warn.innerHTML ="";
					let li = document.createElement("li");
					li.setAttribute("style","font-weight:500;");
					li.setAttribute("class","col-md-6 succes");
					let info = "The pdf " + d +" has already been processed";
					let text = document.createTextNode(info);
					li.appendChild(text);
					warn.appendChild(li);
					document.getElementById("already").setAttribute("value",info);
					breaks = true;
					localStorage.setItem("version",parseInt(fileversion[indice]) + 1);
					
				}
				else{
					if (breaks == false){
						indice++;
						let warn = document.getElementById("warnings-ul");
						warn.innerHTML ="";
						document.getElementById("already").setAttribute("value","");
						localStorage.setItem("version",1);
					}	
				}
			})
		})

		// afficher liste sauvegarde
		if (parseInt('<%= saves.length %>') > 0) {
			// localStorage.setItem('GAZC', 'DZ');
			// openFile('/FormFiller__DZ.html');
			// swal({
			// 	title: "Do you have a backup?",  
			// 	text: " Do you want to continue it?", 
			// 	icon: "warning",
			// 	content: '',
			// 	buttons: {
			// 		cancel: "No",
			// 		confirm: "Yes"
			// 	}
			// }).then( val => {
			// 	if(val) {
			// 	}
			// }); 
		}
		
    </script>
    </body>
</html>
